p{
    color: white;
}
body{
    background-image: url(Screenshot\ \(79\).png);
    
    background-size:cover;

}
#p3{
    color:chartreuse;
}
#div1
{ background-image:radial-gradient(ellipse, darkblue 40% ,blue,lightblue);
    color: beige;
    border: 10px solid ;
    border-image: url(1325614.jpeg) ;
    border-image: url(op.png) ;
   
    float: left;
    box-shadow: 5px 5px 5px;
text-shadow: 3px 2px 1px black ;
text-align: center;
    padding: 10px;
    height: 100px;
    width: 100px;
}
#div2
{ background-color: rgb(20, 20, 166);
    
    
    color: beige;
    border-style: solid;
    float: right;
    padding: 10px;
    
    
    
}
#s1
{ background-color: darkorange;
    color: greenyellow;
    border-style: solid;
    float: left;
    position: sticky;
    top:10px;
    margin-left:45%;
    padding: 10px;
    border-style: dotted;
    border-color: darkgreen;
    border-radius: 20px;
    
}
#s2
{ background-color: darkorange;
    color: greenyellow;
    border-style: groove;
    border-color: darkgreen;
    border-radius: 5px;
    float: left;
    
    padding: 10px;
    position: sticky;
    top:50px;
}